<h2>Edit Your Activity</h2>

<form action="/activities/edit/{{_id}}" method="post" enctype="multipart/form-data">

    {{!-- enctype="multipart/form-data" --}}

    <label for="name">Name of Activity:</label>
    <input value="{{name}}" id="name" type="text" name="name">

    {{!-- adding drop down thing for categories --}}

    <select name="category" id="">
        <option value="" disabled selected>Type of workout</option>
        <option value="Run">Run</option>
        <option value="Walk">Walk</option>
        <option value="Bike">Bike</option>
        <option value="Hike">Hike</option>
    </select>



    <label for="description">Description:</label>
    <input value={{description}} id="description" type="text" name="description">

    {{!-- <label for="imageURL">Image</label>
    <input id="imageUrl" type="text" name="imageURL"> --}}
    <img src="{{imageUrl}}" alt="image activity">
    <input type="file" name="activity-cover-image" />

    <label for="date" class="form-label">Date:</label>
    <input value="{{date}}" type="date" id="date" name="date" class="form-control">

    <label for="time" class="form-label">Time:</label>
    <input value="{{time}}" type="time" id="time" name="time" class="form-control">



    {{!-- <form action="/movies/create" method="post" enctype="multipart/form-data"> </form> --}}

    {{!-- <form action="activities/edit/{{_id}}" method="post" enctype="multipart/form-data"> --}}
        <button type="submit">Save Changes</button>
        {{!--
    </form> --}}


</form>