<h2>All Activities</h2>


{{#each activities}}

<a href="/activities/activity-details/{{_id}}">
    <div>
        <h4> {{name}}</h4>
        <img class="activity-photo" src="{{imageUrl}}" alt="my activity">
    </div>

</a>
<br>
<hr>


{{/each}}

{{!--
<section class="activities-section">
    <h2 class="section-title">Discover New Activities</h2>
    <p class="section-description">Stay fit and healthy with our curated list of activities:</p>

    {{#each activities}}
    <article class="activity">
        <a href="/activities/activity-details/{{_id}}">
            <img class="activity-photo" src="{{imageUrl}}" alt="{{name}}">
            <h3 class="activity-title">{{name}}</h3>
        </a>
    </article>
    {{/each}}
</section> --}}