<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

{{!-- styled error page wasn't working --}}
{{!--
<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 50px;
            text-align: center;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 32px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        pre {
            background-color: #f6f8fa;
            border: 1px solid #d1d5da;
            padding: 20px;
            overflow-x: auto;
            font-size: 14px;
            line-height: 1.45;
            margin-top: 0;
            margin-bottom: 20px;
            border-radius: 5px;
            word-wrap: normal;
            tab-size: 2;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
        <pre>{{error.stack}}</pre>
    </div>
</body>

</html> --}}